@import url('/css/variables.css');
html,
body {
    height: 100%;
}
#row-ayuda {
    margin-top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}
#form-titulo{
    text-align: center;
    width: 100%;
    display: block;
}
#mensaje{
    width: 98%;
    font-size: 1.5rem;
}
#btnenviar{
    width: 100%;
    justify-content: center;
    background-color: var(--boton-verde);
    color: var(--blanco);
    border: var(--borde);
    height: 40px;
    cursor: pointer;
}
#btnenviar:hover{
    background-color: var(--color-fondo);
}
#contenedor_elementos{
    min-height: 100%;
}

#div_contenedor_main{
    margin-top: 15%;
    overflow: auto;
    padding-bottom: 60px;
}

footer {
    bottom: 0;
    background-color: var(--color-fondo);
    width: 100%;
    height: 60px;
    left: 0px;
    position: relative;
    margin-top: -60px;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}
#footer-p{
    margin: auto;
}

@media (max-width: 550px) {
    #div_contenedor_main{
        margin-top: 50%;
    }
}
