@import url('/css/variables.css');

html,
body {
    height: 100%;
}
#nav-horizontal{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#menu-header {
    border: none;
    margin: 0;
}
/* desktop assumes a pointer display */
#main-menu #menu-a {
    border-bottom: none;
    display: inline;
}
.nav-title,
#texto-download {
    display: block;
}
.nav-li:last-child{
    width:12%;
    margin-right: 5%;
    padding: 0%;
}
img {
    display: block;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
#nav-ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0%;
    align-items: center;
    justify-content: space-between;
}
#nav-ul > .nav-li:nth-child(2){
    margin-left: auto;
}
#nav-ul .nav-li .nav-a:hover {
    color: black;
}
.nav-li:first-child img {
    width: 100%;
}
.nav-li {
    display: inline-block;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: center;
}
.nav-li {
    /* border: solid red; */
    width: 15%;
    height: 8%;
}
.nav-a {
    display: flex;
    justify-content: center;
    padding: 0%;
    color: var(--color-boton);
    width: 100%;
}
.fa-home,
.fa-users,
.fa-user,
.fa-phone-volume,
.fa-file-download {
    display: block;
}

.espacio{
    display: none;
}

/*this is header*/


#enviar{
    background-color: teal;
    color: white;
}
#enviar:hover{
    background-color: var(--color-hover);
}
.form-titulo{
    margin-top: 0%;
    text-align: center;
    font-family: var(--letra);
}
main{
    min-height: 100%;
}
.rowlogin {
    padding-bottom: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.rowlogin-1,
.rowlogin-2,
.rowlogin-3,
.rowlogin-4{
    margin-bottom: 10vh;
}
.col-1{
    margin-top: 5px;
    width:50%;
}
.entrada-form{
    width: 90%;
    text-align: center;
    font-size:1.5rem;
    padding-left: 0px;
    outline: none;
    border:1px solid #000;
    border-left:none;
    color:#000;
}


.icon{
    padding: 10px 0px;
    background: #fff;
    color: #000;
    border:1px solid #000;
    border-right:none;
    min-width: 50px;
    text-align: center;
    font-size:20px;
}
.rowlogin-1, .rowlogin-2{
    display: flex;

}
.enviar-form{
    width: 100%;
    height: 2.5rem;
    border: var(--borde-redondo);
}
.login-img{
    margin-top: 5px;
    margin-left: 8%;
    width: 84%;
    margin-right: 0%;
    border-radius: var(--borde-img);
}
#password{
    background: url(/img/candado.gif) no-repeat left;
    background-size: 24px;
    padding-left:30px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    min-width: 50px;
    border:1px solid #000;
}

#ancla {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#ancla-1,#ancla-2 {
    text-decoration: none;
    color:teal;
}
#ancla-2{
    border: 1px solid teal;
    padding: 2px;
    border-radius: 4px;
}


.espacio{
    visibility: hidden;
}
#menu-header {
    border: none;
    margin: 0;
}
#main-menu #menu-a {
    border-bottom: none;
    display: inline;
}
.nav-title,
#texto-download {
    display: block;
}

.fa-home,
.fa-users,
.fa-phone-volume,
.fa-file-download,.fa-user {
    display: none;
}
.nav-li:nth-child(2),
.nav-li:nth-child(3){
    margin-right: 0%;
    margin-left: 0%;
}





footer {
    bottom: 0;
    background-color: var(--color-fondo);
    width: 100%;
    height: 60px;
    left: 0px;
    position: relative;
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}
#footer-p{
    margin: auto;
}


@media (max-width: 480px) {
    .rowlogin {
        display: flex;
        flex-flow: column wrap;
    }
    .col-1 {
        margin-top: 20px;
        width: 100%;
    }
    .col-2{
        order: -1;
    }
    .login-img {
        margin-left: 0px;
        margin-right: 0px;
        width: 99.5%;
        border-radius: var(--borde-img);
    }
    .rowlogin-1,
    .rowlogin-2,
    .rowlogin-3,
    .rowlogin-4 {
        margin-bottom: 5vh;
    }

    .nav-title{
        display: none;
    }

    .fa-home,
    .fa-users,
    .fa-phone-volume,
    .fa-file-download,.fa-user {
        display: block;
    }
}
