@import url("../css/variables.css");
#footer-ul{
    display: flex;
    list-style-type: none;
    padding-left: 0%;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
}
.footer-li figure img{
    margin-top:0;
}
.footer-li figure{
    margin-top:0;
}
.footer-li{
    border: 1px solid green;
    height: auto;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 8px;
    width:200px;
}
.footer-li:hover{
    background-color: var(--color-fondo);
}
figure{
    box-sizing: border-box;
    margin-bottom:0%;
}
.grupo{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border:2px solid #fff;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
}
.contenedorimg{
    border-radius: 50%; width: 100px; height:100px;
    margin-bottom: 4px;
}
#footer-equipo{
    margin-top:5px;
    text-align: center;
}
@media screen and (max-width: 750px) {
    #footer-ul{
        flex-flow: row wrap;
        justify-content: space-around;
        text-align: center;
    }
}

