<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayuda</title>
    <link rel="icon" href="/img/ico.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
<!--    <link rel="stylesheet" type="text/css" href="../css/codigo.css">-->
    <link rel="stylesheet" type="text/css" href="../css/ayuda.css">
</head>
<body>
<header id="header-horizontal">
    <nav id="nav-horizontal">
        <ul id="nav-ul">
            <li class="nav-li">
                <a
                        href="#main-menu"
                        id="main-menu-toggle"
                        class="menu-toggle"
                        aria-label="Open main menu"
                >
                    <span class="sr-only">Open main menu</span>
                    <span class="fa fa-bars" area-hidden="true"></span>
                </a>
                <a th:href="@{/dashboard}">
                    <img src="/img/pac.svg" alt="pac">
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#">
                    <input type="search" placeholder="Buscar mediciones o reporte"
                           id="buscarreporte" autofocus/>
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#"><i class="fas fa-comment-alt-dots"></i>
                    <span class="quantity">1</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-envelope"></i>
                    <span class="quantity">2</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-bell"></i>
                    <span class="quantity">3</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<header id="menu-header">
    <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a
                href="#main-menu-toggle"
                id="main-menu-close"
                class="menu-close"
                aria-label="Close main menu"
        >
            <span class="fa fa-times"></span>
            <span class="sr-only">Close main menu</span>
            <span aria-hidden="true"></span>
        </a>
        <div id="contenedor-foto" th:each="usu: ${datos_usuario}">
            <!--                    th:src="@{${'/img/' + players.id +'_'+ players.name + '.png'}}"-->
            <!--                    src="../img/user.png"-->
            <img
                    id="user-photo"
                    th:src="${usu.foto}"
                    alt="user photo"
                    width="100px"
                    height="100px"
            />
            <br />
            <h4 id="user-data">
                <span class="user-data" th:text="${usu.nombre}">Luis Vip Huge</span><br />
                <span class="user-data" id="correo" th:text="${usu.email}">luivph@gmail.com</span>
            </h4>
        </div>
        <ul id="menu-ul">
            <li class="menu-li">
                <a class="menu-a" th:href="@{/cultivo}"><i class="fas fa-seedling"></i> Cultivos</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/usuarios}"
                ><i class="fas fa-user-plus"></i> Usuarios</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/categoria}"
                ><i class="far fa-project-diagram"></i> Categorias</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/producto}"
                ><i class="fas fa-leaf"></i> Productos</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/dispositivo}"
                ><i class="fas fa-sensor"></i> Dispositivos</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/dashboard}"><span><i class="fas fa-chart-bar"></i> Dashboard</span></a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/parametros}"><i class="fas fa-file-chart-line"></i> Reportes</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" href="#" id="myBtn"><i class="fas fa-cog"></i> Configuración</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/ayuda}"><i class="fas fa-life-ring"></i> Ayuda</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/logout}">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
    <a href="#main-menu-toggle" class="backdrop" hidden tabindex="-1"></a>
</header>
<main id="contenidoprincipal">
    <div id="div_contenedor_main">
    <h2 id="form-titulo">AYUDA</h2>
    <div id="row-ayuda">
        <!-- action="https://formspree.io/f/meqvpley" camibar a esto-->
<!--        https://formspree.io/f/meqvpley-->
        <form  id="form" onsubmit="return mySubmit(this)" >
            <textarea name="asunto" id="mensaje"
                      cols="30" rows="3"
                      minlength="20"
                      class="recuperar-form asunto"
                      placeholder="Escriba su problema..."
                      maxlength="80"
                      required autofocus>
              </textarea>

            <button
                    type="submit"
                    class="enviar-form"
                    id="btnenviar"
            >
                ENVIAR <i class="far fa-paper-plane"></i>
            </button>

        </form>
    </div>
    </div>
</main>

<footer th:replace="layout/plantilla2 :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    const form = document.querySelector('#form');
    const btnenviar = document.querySelector('#enviar');
    const mensaje = document.querySelector('#mensaje');
    //form.addEventListener("submit ", handleSubmit);

    //Evita mas de un espacio
    var ignoreChars = " \r\n" + String.fromCharCode(0);
    var lastkey;
    function ignoreSpaces(e) {
        // SinRepetir(e);
        e = e || window.event;
        var char = String.fromCharCode(e.charCode);
        if (ignoreChars.indexOf(char) >= 0 && ignoreChars.indexOf(lastkey) >= 0) {
            lastkey = char;
            return false;
        } else {
            lastkey = char;
            return true;
        }
    }
    // Execute a function when the user releases a key on the keyboard
    form.addEventListener("keydown", function(event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13 && !event.shiftKey) {
            validarEntrada(mensaje,event);
            evitar_caracteres_repetidos(event);
            event.preventDefault();
        }
    });

    mensaje.addEventListener("keyup", function (event) {
        evitar_caracteres_repetidos();
        ignoreSpaces(event);

    });

    function evitar_caracteres_repetidos() {
        mensaje.value = mensaje.value.replace(/(.)(\1{2})\1+/g, '$1$2');
        mensaje.value = mensaje.value.replace(/  +/g, ' ');
    }

    function mySubmit(event) {
        event.preventDefault();
        try {
            console.log('Some bug...')
        } catch (e) {
            throw new Error(e.message);
        }
        return false;
    }

    function validarEntrada(mensaje,event) {
        if (mensaje.value.length === 0) {
            console.log('mensaje is empty');
            mensaje.style.borderColor = 'red';
        } else if (mensaje.value.length<20) {
            mensaje.style.borderColor = 'red';
            console.log("mensaje is coming...");
            mensaje.focus();
        } else {
            console.log("mensaje is ok");
            // handleSubmit(event);//HABILITAR PARA ENVIAR
        }
    }

    function reiniciar() {
        form.reset();
        mensaje.value.replace(/ /g, "");
        location.reload();
    }

    function enviar() {
        let usuario_correo=document.getElementById("correo").innerHTML;
        let usuario_mensaje=document.getElementById("mensaje").value;

        // code fragment
        var data = {
            service_id: 'service_qq6uwif',
            template_id: 'template_9hwtbqu',
            user_id: 'user_WTeAUUZU60pyA58lL2gD6',
            template_params: {
                'userEmail': usuario_correo,
                'userMensaje': usuario_mensaje
            }
        };

        function redigir_inicio(){
            window.location.href='/dashboard';
        }

        $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json'
        }).done(function() {
            swal("Nos pondremos en contacto muy pronto!","", "success");
        }).fail(function(error) {
            swal('Oops... ' + JSON.stringify(error), "error");
        });

    }

    document.getElementById('btnenviar').addEventListener('click', function() {
        enviar();
    });

</script>

<script type="text/javascript" src="../js/fonawesome.js"></script>

</body>
</html>