<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/ico.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <title>Categoria</title>
</head>
<body>

<header id="header-horizontal">
    <nav id="nav-horizontal">
        <ul id="nav-ul">
            <li class="nav-li">
                <a
                        href="#main-menu"
                        id="main-menu-toggle"
                        class="menu-toggle"
                        aria-label="Open main menu"
                >
                    <span class="sr-only">Open main menu</span>
                    <span class="fa fa-bars" area-hidden="true"></span>
                </a>
                <a th:href="@{/dashboard}">
                    <img src="/img/pac.svg" alt="pac">
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#">
                    <input type="search" placeholder="Buscar mediciones o reporte"
                           id="buscarreporte" autofocus/>
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#"><i class="fas fa-comment-alt-dots"></i>
                    <span class="quantity">1</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-envelope"></i>
                    <span class="quantity">2</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-bell"></i>
                    <span class="quantity">3</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<header id="menu-header">
    <div id="header-row">
        <a
                href="#"
                style="visibility: hidden;"
        >
            this one
        </a>
        <a
                th:href="@{/parametros}"
                id="main-menu-download"
                aria-label="Download history measurement"
        >
            <span id="texto-download">Generar reporte</span>
            <span class="fas fa-file-download"></span>
        </a>
    </div>
    <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a
                href="#main-menu-toggle"
                id="main-menu-close"
                class="menu-close"
                aria-label="Close main menu"
        >
            <span class="fa fa-times"></span>
            <span class="sr-only">Close main menu</span>
            <span aria-hidden="true"></span>
        </a>
        <div id="contenedor-foto" th:each="usu: ${datos_usuario}">
            <!--                    th:src="@{${'/img/' + players.id +'_'+ players.name + '.png'}}"-->
            <!--                    src="../img/user.png"-->
            <img
                    id="user-photo"
                    th:src="@{${'/image/' + usu.foto}}"
                    alt="user photo"
                    width="100px"
                    height="100px"
            />
            <br />
            <h4 id="user-data">
                <span class="user-data" th:text="${usu.nombre}">Luis Vip Huge</span><br />
                <span class="user-data" th:text="${usu.email}">luivph@gmail.com</span>
            </h4>
        </div>
        <ul id="menu-ul">
            <li class="menu-li">
                <a class="menu-a" th:href="@{/cultivo}"><i class="fas fa-seedling"></i> Cultivos</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/usuarios}"
                ><i class="fas fa-user-plus"></i> Usuarios</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/categoria}"
                ><i class="far fa-project-diagram"></i> Categorias</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/producto}"
                ><i class="fas fa-leaf"></i> Productos</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/dispositivo}"
                ><i class="fas fa-sensor"></i> Dispositivos</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/dashboard}"><span><i class="fas fa-chart-bar"></i> Dashboard</span></a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/parametros}"><i class="fas fa-file-chart-line"></i> Reportes</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" href="#" id="myBtn"><i class="fas fa-cog"></i> Configuración</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/ayuda}"><i class="fas fa-life-ring"></i> Ayuda</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/logout}">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
    <a href="#main-menu-toggle" class="backdrop" hidden tabindex="-1"></a>
</header>
<main style="width:100%; margin-top: 0px">
<a th:href="@{/agregarcategoria}" style="color:teal;"><i class="fas fa-plus-circle"></i> Registrar categoria</a>
<div th:if="${categorias !=null and !categorias.isEmpty()}">
    <table id="mitabla" class="listadocultivo display cell-border compact stripe" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="categoria: ${categorias}">
            <td align="center" valign="center" th:text="${categoria.id}">ID</td>
            <td align="center" valign="center" th:text="${categoria.nombre}">Categoria</td>
            <td align="center" valign="center"><a style="color: red;cursor:pointer;" th:onclick="eliminar([[${categoria.id}]],1)"><i class="fas fa-backspace"></i> Eliminar</a></td>
            <td align="center" valign="center"><a th:href="@{/editarcategoria/}+${categoria.id}"><i class="fas fa-edit"></i> Editar</a></td>
        </tr>
        </tbody>
    </table>
</div>
    <div th:if="${categorias.isEmpty()}" style="color: black;
    width: 100%; height: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    ">
        <div>
            <img src="../img/empty.png" alt="sin datos"/>
            <h4>La lista de categorias esta vacía</h4>
        </div>
    </div>
</main>
<footer th:replace="layout/plantilla2 :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="../js/fonawesome.js"></script>
<script src="../js/tabla.js"></script>
<script src="../js/aviso.js"></script>
</body>
</html>