<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
    <link rel="icon" href="/img/ico.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../css/contacto.css">
    <title>Contactenos</title>
</head>
<body>
<header id="header-horizontal">
    <nav id="nav-horizontal">
        <ul id="nav-ul">
            <li class="nav-li">
                <a th:href="@{/inicio}">
                    <img src="/img/pac.svg" alt="pac" />
                </a>
            </li>
            <li class="nav-li">
                <span class="espacio">miespacio</span>
                <a class="nav-a" th:href="@{/inicio}"
                ><span class="nav-title">INICIO</span>
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" th:href="@{/acerca}">
                    <span class="nav-title">QUIENES SOMOS</span>
                    <i class="fas fa-users"></i>
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" th:href="@{/contacto}">
                    <span class="nav-title">CONTACTENOS</span>
                    <i class="fas fa-phone-volume"></i>
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" th:href="@{/login}">
                    <span class="nav-title">INICIAR SESIÓN</span>
                    <i class="fas fa-user"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div id="contenedor_elementos">
<div id="div_contenedor_main">

    <div id="contacto">
        <div id="contenedor_contacto">
            <div class="rowcontacto">
                    <input type="email" class="cajaentrada" id="correo" name="correo" placeholder="Correo electrónico" autofocus required/>
            </div>
            <div class="rowcontacto">
                  <textarea name="asunto" id="mensaje" cols="39" rows="4" maxlength="80" placeholder="Escriba el asunto..." required></textarea>
            </div>
            <div class="rowcontacto">
                    <button type="submit" id="enviar" name="enviar"><span>Enviar <i class="far fa-paper-plane"></i></span></button>
            </div>
        </div>
    </div>

</div>
</div>

<footer th:replace="layout/plantilla2 :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    const form = document.querySelector('#enviarasunto');
    const btnenviar = document.querySelector('#enviar');
    const correo = document.querySelector('#correo');
    const mensaje = document.querySelector('#mensaje');

    function enviar() {
        let usuario_correo=document.getElementById("correo").value;
        let usuario_mensaje=document.getElementById("mensaje").value;

        // code fragment
        var data = {
            service_id: 'service_qq6uwif',
            template_id: 'template_9hwtbqu',
            user_id: 'user_WTeAUUZU60pyA58lL2gD6',
            template_params: {
                'userEmail': usuario_correo,
                'userMensaje': usuario_mensaje
            }
        };

        function redigir_inicio(){
            window.location.href='/inicio';
        }

        $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json'
        }).done(function() {
            swal("Correo enviado satisfactoriamente!","", "success");
            setTimeout(redigir_inicio(),2500);
        }).fail(function(error) {
            swal('Oops... ' + JSON.stringify(error), "error");
        });

    }

    document.getElementById('enviar').addEventListener('click', function() {
        enviar();
    });

    //Evita mas de un espacio
    var ignoreChars = " \r\n" + String.fromCharCode(0);
    var lastkey;
    function ignoreSpaces(e) {
        // SinRepetir(e);
        e = e || window.event;
        var char = String.fromCharCode(e.charCode);
        if (ignoreChars.indexOf(char) >= 0 && ignoreChars.indexOf(lastkey) >= 0) {
            lastkey = char;
            return false;
        } else {
            lastkey = char;
            return true;
        }
    }

    function validarEntrada(e) {
        // SinRepetir(e);
        if (e.value.length === 0) {
            console.log('mensaje is empty');
            e.style.borderColor = 'red';
        } else if (e.value.length<8) {
            e.style.borderColor = 'red';
            console.log("mensaje is coming...");
            e.focus();
        } else {
            console.log("mensaje is ok");
            // handleSubmit(e);
        }
    }

    correo.addEventListener("keypress", function (event) {
        correo.value = correo.value.replace(
            /(\s{2,})|[^@.a-zA-Z']/g,
            ""
        );
        correo.value = correo.value.replace(/^\s*/, "");
        console.log(correo.value);
    });

    mensaje.addEventListener("keypress", function (event) {
        mensaje.value = mensaje.value.replace(
            /(\s{2,})|[^a-zA-Z']/g,
            " "
        );
        mensaje.value = mensaje.value.replace(/^\s*/, "");
        console.log(mensaje.value);
    });

</script>
<script src="../js/fonawesome.js"></script>
</body>
</html>