<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <meta http-equiv="refresh" content="5">-->
    <link rel="icon" href="/img/ico.jpeg" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <title>Inicio</title>
</head>
<body>
<header id="header-horizontal">
    <nav id="nav-horizontal">
        <ul id="nav-ul">
            <li class="nav-li">
                <a
                        href="#main-menu"
                        id="main-menu-toggle"
                        class="menu-toggle"
                        aria-label="Open main menu"
                >
                    <span class="sr-only">Open main menu</span>
                    <span class="fa fa-bars" area-hidden="true"></span>
                </a>
                <a th:href="@{/dashboard}">
                    <img src="/img/pac.svg" alt="pac">
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#" id="busqueda_header">
                    <input type="search" placeholder="Buscar mediciones o reporte"
                    id="buscarreporte" autofocus/>
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#"><i class="fas fa-comment-alt-dots"></i>
                    <span class="quantity">1</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-envelope"></i>
                    <span class="quantity">2</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-bell"></i>
                    <span class="quantity">3</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<header id="menu-header">
    <div id="header-row"></div>
    <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a
            href="#main-menu-toggle"
            id="main-menu-close"
            class="menu-close"
            aria-label="Close main menu"
        >
            <span class="fa fa-times"></span>
            <span class="sr-only">Close main menu</span>
            <span aria-hidden="true"></span>
        </a>
        <div id="contenedor-foto" th:each="usu: ${datos_usuario}">
            <img
                    id="user-photo"
                    th:src="${usu.foto}"
                    alt="user photo"
                    width="100px"
                    height="100px"
            />
            <br />
            <h4 id="user-data">
                <span class="user-data" th:text="${usu.nombre}">Luis Vip Huge</span><br />
                <span class="user-data" th:text="${usu.email}">luivph@gmail.com</span>
            </h4>
        </div>
        <ul id="menu-ul">
            <li class="menu-li">
                <a class="menu-a" th:href="@{/cultivo}"><i class="fas fa-seedling"></i> Cultivos</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/usuarios}"
                ><i class="fas fa-user-plus"></i> Usuarios</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/categoria}"
                ><i class="far fa-project-diagram"></i> Categorias</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/producto}"
                ><i class="fas fa-leaf"></i> Productos</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/dispositivo}"
                ><i class="fas fa-sensor"></i> Dispositivos</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/dashboard}"><span><i class="fas fa-chart-bar"></i> Dashboard</span></a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/parametros}"><i class="fas fa-file-chart-line"></i> Reportes</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" href="#" id="myBtn"><i class="fas fa-cog"></i> Configuración</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/ayuda}"><i class="fas fa-life-ring"></i> Ayuda</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/logout}">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
    <a href="#main-menu-toggle" class="backdrop" hidden tabindex="-1"></a>
</header>

<main id="contenidoprincipal">
    <div class="div_contenedor_main">
<div th:if="${parametros !=null and !parametros.isEmpty()}" style="margin-top: 20px;">
        <ul class='circle-container' th:each="parametro: ${parametros}">
        <li>
            <div class="parametro_cultivo">
                <div class="contenedor_icon">
                    <img src="../img/icons/co2.png" class="parametro_icon" alt="co2" />
                </div>
                <span class="textomedicion"><span id="co2" th:text="${parametro.co2}"></span> <span> PPM</span> </span>
            </div>
        </li>
        <li>
            <div class="parametro_cultivo">
                <div class="contenedor_icon">
                    <img src="../img/icons/uv.png" class="parametro_icon" alt="radiacion" />
                </div>
                <span class="textomedicion"><span id="uv" th:text="${parametro.uv}"></span> <span> UV</span></span>
            </div>
        </li>
        <li>
            <div class="parametro_cultivo">
                <div class="contenedor_icon">
                    <img src="../img/icons/tambiente.svg" class="parametro_icon" alt="tambiente" />
                </div>
                <span class="textomedicion"><span id="ta" th:text="${parametro.ta}"></span> <span> ºC</span></span>
            </div>
        </li>
        <li>
            <div class="parametro_cultivo">
                <div class="contenedor_icon">
                    <img src="../img/icons/hambiente.svg" class="parametro_icon" alt="hambiente" />
                </div>
                <span class="textomedicion"><span id="ha" th:text="${parametro.ha}"></span> <span> %</span></span>
            </div>
        </li>
        <li>
            <div class="parametro_cultivo">
                <div class="contenedor_icon">
                    <img src="../img/icons/tsuelo.svg" class="parametro_icon" alt="tsuelo" />
                </div>
                <span class="textomedicion"><span id="ts" th:text="${parametro.ts}"></span> <span> ºC</span></span>
            </div>
        </li>
        <li>
            <div class="parametro_cultivo">
                <div class="contenedor_icon">
                    <img src="../img/icons/hsuelo.svg" class="parametro_icon" alt="hsuelo" />
                </div>
                <span class="textomedicion"><span id="hs" th:text="${parametro.hs}"></span> <span> %</span></span>
            </div>
        </li>
        <li>
            <div class="parametro_cultivo">
                <div class="contenedor_icon">
                    <img src="../img/icons/ph-meter.png" class="parametro_icon" alt="ph" />
                </div>
                <span class="textomedicion"><span id="ph" th:text="${parametro.ph}"></span> <span> PH</span></span>
            </div>
        </li>
        <li>
            <div class="parametro_cultivo">
                <div class="contenedor_icon">
                    <img src="../img/icons/ec.svg" class="parametro_icon" alt="ec" />
                </div>
                <span class="textomedicion"><span id="ce" th:text="${parametro.ce}"></span> <span> CE</span></span>
            </div>
        </li>
        <li>
            <div class="parametro_cultivo">
                <div class="contenedor_icon">
                    <img src="../img/icons/npk.png" class="parametro_icon" alt="npk" />
                </div>
                <span class="textomedicion">
                <span th:text="${parametro.nitrogeno}" id="nitro">nitrogeno</span>
                <span th:text="${parametro.potasio}" id="pota">potasio</span>
                <span th:text="${parametro.fosforo}" id="fosfo">fosforo</span>
                <span id="unidadnpk">mg/kg</span>
                </span>
            </div>
        </li>

        <li>
            <div class="parametro_cultivo">
                <!-- https://www.flaticon.com/free-icon/corn_4986877?term=corn%20plant&related_id=4986877 -->
                <div class="corn_icon">
                    <img src="../img/icons/corn.png" class="parametro_icon" alt="corn" />
                </div>
            </div>
        </li>

    </ul>
    </div>

    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 40%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        #centrar_formulario{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items:center;
        }
        #btn_asignar_cultivo{
            margin-top: 5px;
            background-color: #1ebd88;
            border-radius:8px;
            padding:4px;
            width:130px;
            cursor: pointer;
            border: none;
            outline: none;
            color:white;
        }
        @media (max-width:480px){
              .modal-content{
                width:90%;
            }
        }

    </style>


    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>
            <h4 style="justify-content:center; width:100%; text-align:center;">Asignar dispositivo a un cultivo</h4>
            <form th:action="@{/actualizarcultivo}" method="post" id="centrar_formulario">
                <label>
                    <select id="idcultivo" name="id_actualizar_cultivo">
                        <option value="0" selected="selected">Seleccione cultivo</option>
                        <option  th:each="cul : ${cultivos}" th:value="${cul.id}" th:text="${cul.nombre}"></option>
                    </select>
                </label>
                <button type="submit" id="btn_asignar_cultivo">
                <span style="color: white; font-size: 1.5rem;">
                    <i class="fas fa-sensor-on"></i>
                    <i class="fad fa-ellipsis-h"></i>
                    <i class="fas fa-seedling"></i>
                </span>
                </button>
            </form>
            </p>
        </div>

    </div>

    <script>
        // let co2 = document.querySelector('#co2');
        // let uv = document.querySelector('#uv');
        // let ta = document.querySelector('#ta');
        // let ts = document.querySelector('#ts');
        // let ha = document.querySelector('#ha');
        // let hs = document.querySelector('#hs');
        // let ph = document.querySelector('#ph');
        // let ce = document.querySelector('#ce');
        // let nitro = document.querySelector('#nitro');
        // let pota = document.querySelector('#pota');
        // let fosfo = document.querySelector('#fosfo');
        //
        // co2 = parseInt(co2.innerHTML);
        // uv = parseInt(uv.innerHTML);
        // ta = parseFloat(ta.innerHTML).toFixed(2);
        // ha = parseInt(ha.innerHTML);
        // ts = parseInt(ts.innerHTML).toFixed(2);
        // hs = parseInt(hs.innerHTML);
        // ph = parseInt(ph.innerHTML).toFixed(1);
        // ce = parseInt(ce.innerHTML);
        // nitro = parseInt(nitro.innerHTML);
        // pota = parseInt(pota.innerHTML);
        // fosfo = parseInt(fosfo.innerHTML);
window.onload=function () {
    alerta_parametros();
}



function alerta_parametros(){
    evaluar_parametro('co2', 340, 1000);
    evaluar_parametro('uv', 3, 11);
    evaluar_parametro('ta', 24, 30);
    evaluar_parametro('ha', 40, 60);
    evaluar_parametro('ts', 10, 15);
    evaluar_parametro('hs', 40, 60);
    evaluar_parametro('ph', 5.5, 7.8);
    evaluar_parametro('ce', 2, 60);
    evaluar_parametro('nitro',2, 38);
    evaluar_parametro('pota',1 ,26);
    evaluar_parametro('fosfo',4, 66);
}

        function evaluar_parametro(parametro, rango_desde, rango_hasta) {
           let valores=document.querySelector(`#${parametro}`);
           let valor;
           if(valores!=null){
               valor=valores.innerHTML;

            if ((parametro==='ta')|| (parametro==='ts')) {
                valor=parseFloat(valor).toFixed(2);
            } else {
                valor=parseInt(valor);
            }

            if( (valor > rango_desde) && (valor < rango_hasta)){
                console.log(`Nivel adecuado ${parametro}`, valor)
                document.querySelector(`#${parametro}`).parentNode.style.backgroundColor = "green";
                document.querySelector(`#${parametro}`).parentNode.style.color = "white";
            } else {
                if (valor <= rango_desde){
                    console.log(`Nivel bajo de ${parametro}`, valor);
                    document.querySelector(`#${parametro}`).parentNode.style.backgroundColor = "yellow";
                    document.querySelector(`#${parametro}`).parentNode.style.color = "black";
                }else {
                    console.log(`Sobredosis de ${parametro}`, valor);
                    document.querySelector(`#${parametro}`).parentNode.style.backgroundColor = "red";
                    document.querySelector(`#${parametro}`).parentNode.style.color = "white";
                }
            }
           }
        }






        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.getElementById("idcultivo").addEventListener("change",function(){
           if(document.getElementById("idcultivo").selectedIndex!==0){
               swal({
                       title: "Cultivo seleccionado",
                       text:"                             ",
                       icon: "success",
                       type:"succcess",
                       buttons: false,
                       timer: 2000,
                   }
               );
           }
        });

        document.getElementById("btn_asignar_cultivo").addEventListener("click",function(){
            let micultivo= document.getElementById("idcultivo");
            let nombrecultivo=micultivo.options[micultivo.selectedIndex].innerHTML;
            if(document.getElementById("idcultivo").selectedIndex!==0){
                swal({
                        title: "Dispositivo asignado al cultivo "+nombrecultivo,
                        text:"                             ",
                        icon: "success",
                        type:"succcess",
                        buttons: false,
                        timer: 2000,
                    }
                );
            }else{
                swal({
                    title: "Seleccione un cultivo",
                    text:"                             ",
                    icon: "warning",
                    type:"warning",
                    buttons: false,
                    timer: 2000,
                });
            }

        });


    </script>


    <div th:if="${parametros.isEmpty()}" style="color: black;
    width: 100%; height: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    ">
            <div>
                <img src="../img/empty.png" alt="sin datos"/>
                <h4>La lista de parametro esta vacía</h4>
            </div>
        </div>

    </div>
</main>

<div id="boton_registro_cultivo">
    <a th:href="@{/agregarcultivo}" id="registro-cultivo"><i class="fas fa-plus"></i></a>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<footer th:replace="layout/plantilla2 :: footer"></footer>
<script type="text/javascript" src="../js/fonawesome.js"></script>
</body>
</html>

<!--co2
uv
ta
ha
ts
hs
ph
ce

-->