<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../css/headerandfooter.css">
    <link rel="stylesheet" type="text/css" href="../css/registrocultivo.css">
    <title>Registrar dispositivo</title>
</head>
<body>
<header th:replace="layout/plantilla2 :: header"></header>
<div class="col-1">
    <h2 id="titulo"> REGISTRAR DISPOSITIVO</h2>
</div>
<a th:href="@{/dispositivo}" class="regresar"><i class="fas fa-chevron-left"></i> Regresar</a>
<form th:action="@{/guardardispositivo}"  method="POST" th:object="${dispositivo}"
      id="form" onsubmit="return mySubmit(this)">
    <div id="row-form">
        <div class="col-1">
            <input type="hidden" th:field="*{id}">
            <input type="text" id="nombre" placeholder="Ingrese nombre" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
        </div>
        <div class="col-1">
            <label>
                <select id="estado" name="estado" th:field="*{estado}">
                    <option value="2" selected="selected">Seleccione Estado</option>
                    <option th:value="1">Activo</option>
                    <option th:value="0">Inactivo</option>
                </select>
            </label>
        </div>
        <div class="col-1">
            <input type="text" id="ip" name="ip" th:field="*{ip}" placeholder="Ingrese IP"/>
        </div>
        <span th:if="${#fields.hasErrors('ip')}" th:errors="*{ip}">Error ip</span>
        <div class="col-1">
            <button type="submit" id="btnenviar">Registrar
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</form>

<footer th:replace="layout/plantilla2 :: footer"></footer>
<script type="text/javascript" src="../js/fonawesome.js"></script>
</body>
</html>