<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../css/headerandfooter.css">
    <link rel="stylesheet" type="text/css" href="../css/registrocultivo.css">
    <title>Registrar Producto</title>
</head>
<body>
<header th:replace="layout/plantilla2 :: header"></header>
<div class="col-1">
    <h2 id="titulo"> REGISTRAR PRODUCTO</h2>
</div>
<a th:href="@{/producto}" class="regresar"><i class="fas fa-chevron-left"></i> Regresar</a>
<form th:action="@{/guardarproducto}"  method="POST" th:object="${producto}" id="form" onsubmit="return mySubmit(this)">
    <div id="row-form">
            <input type="hidden" th:field="*{id}">
            <div class="col-1">
                <input type="text" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Ingrese nombre" autofocus/>
            </div>
            <div class="col-1">
            <select id="categoria" name="categoria" th:field="*{categoriaproducto.id}">
                <option value="0" selected="selected">Seleccione categoria</option>
                <option  th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nombre}"></option>
            </select>
            </div>
        <div class="col-1">
            <button type="submit" id="btnenviar">Registrar
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</form>
<footer th:replace="layout/plantilla2 :: footer"></footer>
<script type="text/javascript" src="../js/fonawesome.js"></script>
</body>
</html>