<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="/img/ico.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="../css/registrocultivo.css">
    <title>Registrar categoria</title>
</head>
<body>
<style>
    #footer-grupo{
        margin-top: 18%;
    }
</style>
<header id="header-horizontal">
    <nav id="nav-horizontal">
        <ul id="nav-ul">
            <li class="nav-li">
                <a th:href="@{/dashboard}">
                    <img src="/img/pac.svg" alt="pac">
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#">
                    <input type="search" placeholder="Buscar mediciones o reporte"
                           id="buscarreporte" autofocus/>
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#"><i class="fas fa-comment-alt-dots"></i>
                    <span class="quantity">1</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-envelope"></i>
                    <span class="quantity">2</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-bell"></i>
                    <span class="quantity">3</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<header id="menu-header">
    <div id="header-row">
        <a
                href="#main-menu"
                id="main-menu-toggle"
                class="menu-toggle"
                aria-label="Open main menu"
        >
            <span class="sr-only">Open main menu</span>
            <span class="fa fa-bars" area-hidden="true"></span>
        </a>
    </div>
    <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a
                href="#main-menu-toggle"
                id="main-menu-close"
                class="menu-close"
                aria-label="Close main menu"
        >
            <span class="fa fa-times"></span>
            <span class="sr-only">Close main menu</span>
            <span aria-hidden="true"></span>
        </a>
        <div id="contenedor-foto" th:each="usu: ${datos_usuario}">
            <!--                    th:src="@{${'/img/' + players.id +'_'+ players.name + '.png'}}"-->
            <!--                    src="../img/user.png"-->
            <img
                    id="user-photo"
                    th:src="@{${'../images/' + usu.foto}}"
                    alt="user photo"
                    width="100px"
                    height="100px"
            />
            <br />
            <h4 id="user-data">
                <span class="user-data" th:text="${usu.nombre}">Luis Vip Huge</span><br />
                <span class="user-data" th:text="${usu.email}">luivph@gmail.com</span>
            </h4>
        </div>
        <ul id="menu-ul">
            <li class="menu-li">
                <a class="menu-a" th:href="@{/agregarcultivo}"
                ><i class="fas fa-plus"></i> Registrar cultivo</a
                >
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/cultivo}"
                ><i class="fas fa-list-ol"></i> Listado de cultivo</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" href="#"
                ><i class="fas fa-file-chart-line"></i> Reportes</a
                >
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/ayuda}"
                ><i class="fas fa-life-ring"></i> Ayuda</a
                >
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/logout}">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
    <a href="#main-menu-toggle" class="backdrop" hidden tabindex="-1"></a>
</header>
<main id="contenidoprincipal">
<div class="col-1">
    <h2 id="titulo"> REGISTRAR CATEGORIA</h2>
</div>
<a th:href="@{/categoria}" class="regresar"><i class="fas fa-chevron-left"></i> Regresar</a>
<form th:action="@{/guardarcategoria}"  method="POST" th:object="${categoria}" id="form" onsubmit="return mySubmit(this)">
    <div id="row-form">
        <div class="col-1">
            <input type="hidden" th:field="*{id}">
            <input type="text" id="nombre" name="nombre"
                   placeholder="Ingrese categoria" th:field="*{nombre}" autofocus/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
        </div>
        <div class="col-1">
            <button type="submit" id="btnenviar">Registrar
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</form>
</main>
<footer th:replace="layout/plantilla2 :: footer"></footer>
<script type="text/javascript" src="../js/fonawesome.js"></script>
</body>
</html>