<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="../css/headerandfooter.css">
    <link rel="stylesheet" type="text/css" href="../css/registrocultivo.css">
    <title>Registrar cultivo</title>
</head>
<body>
<header th:replace="layout/plantilla2 :: header"></header>
<div class="col-1">
    <h2 id="titulo"> REGISTRAR CULTIVO</h2>
</div>

<a th:href="@{/cultivo}" class="regresar"><i class="fas fa-chevron-left"></i> Regresar</a>
<form th:action="@{/guardarcultivo}"  method="POST" th:object="${cultivo}" id="form" onsubmit="return mySubmit(this)">
    <div id="row-form">
        <div class="col-1">
            <input type="hidden" th:field="*{id}">
            <select name="cultivo" id="cultivo" th:field="*{producto.id}" required>
               <option th:value="0" disabled>Seleccione cultivo</option>
                <option  th:each="prod : ${productos}" th:value="${prod.id}" th:text="${prod.nombre}"></option>
            </select>
        </div>
        <div class="col-1">
            <input
                    type="date"
                    id="fecha"
                    min="2021-01-01" max="2021-12-13"
                    class="registro-form"
                    th:field="*{fechasiembra}"
                    required
            />
        </div>
        <div class="col-1">
            <input
                    type="text"
                    id="ubicacion"
                    class="registro-form"
                    placeholder="Ingrese ubicacion"
                    th:field="*{ubicacion}"
                    required
            />
        </div>
        <div class="col-1">
            <input
                    type="number"
                    id="medida"
                    class="registro-form"
                    placeholder="Ingrese hectareas"
                    th:field="*{medida}"
                    step="00.1"
                    min="0.5" max="9999999"
                    required
            />
        </div>
        <div class="col-1">
<!--            <span th:text="${idus}">usu </span>-->
            <button type="submit" id="btnenviar">Registrar
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</form>

<footer th:replace="layout/plantilla2 :: footer"></footer>
<script type="text/javascript" src="../js/fonawesome.js"></script>
</body>
</html>