<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/ico.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <title>Parametros</title>
</head>
<body>
<header id="header-horizontal">
    <nav id="nav-horizontal">
        <ul id="nav-ul">
            <li class="nav-li">
                <a
                        href="#main-menu"
                        id="main-menu-toggle"
                        class="menu-toggle"
                        aria-label="Open main menu"
                >
                    <span class="sr-only">Open main menu</span>
                    <span class="fa fa-bars" area-hidden="true"></span>
                </a>
                <a th:href="@{/dashboard}">
                    <img src="/img/pac.svg" alt="pac">
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#">
                    <input type="search" placeholder="Buscar mediciones o reporte"
                           id="buscarreporte" autofocus/>
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="#"><i class="fas fa-comment-alt-dots"></i>
                    <span class="quantity">1</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-envelope"></i>
                    <span class="quantity">2</span>
                </a>
                <a class="nav-a" href="#"><i class="fas fa-bell"></i>
                    <span class="quantity">3</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<header id="menu-header">

    <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a
                href="#main-menu-toggle"
                id="main-menu-close"
                class="menu-close"
                aria-label="Close main menu"
        >
            <span class="fa fa-times"></span>
            <span class="sr-only">Close main menu</span>
            <span aria-hidden="true"></span>
        </a>
        <div id="contenedor-foto" th:each="usu: ${datos_usuario}">
            <!--                    th:src="@{${'/img/' + players.id +'_'+ players.name + '.png'}}"-->
            <!--                    src="../img/user.png"-->
            <img
                    id="user-photo"
                    th:src="${usu.foto}"
                    alt="user photo"
                    width="100px"
                    height="100px"
            />
            <br />
            <h4 id="user-data">
                <span class="user-data" th:text="${usu.nombre}">Luis Vip Huge</span><br />
                <span class="user-data" th:text="${usu.email}">luivph@gmail.com</span>
            </h4>
        </div>
        <ul id="menu-ul">
            <li class="menu-li">
                <a class="menu-a" th:href="@{/cultivo}"><i class="fas fa-seedling"></i> Cultivos</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/usuarios}"
                ><i class="fas fa-user-plus"></i> Usuarios</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/categoria}"
                ><i class="far fa-project-diagram"></i> Categorias</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/producto}"
                ><i class="fas fa-leaf"></i> Productos</a>
            </li>
            <li class="menu-li" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="menu-a" th:href="@{/dispositivo}"
                ><i class="fas fa-sensor"></i> Dispositivos</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/dashboard}"><span><i class="fas fa-chart-bar"></i> Dashboard</span></a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/parametros}"><i class="fas fa-file-chart-line"></i> Reportes</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" href="#" id="myBtn"><i class="fas fa-cog"></i> Configuración</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/ayuda}"><i class="fas fa-life-ring"></i> Ayuda</a>
            </li>
            <li class="menu-li">
                <a class="menu-a" th:href="@{/logout}">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
    <a href="#main-menu-toggle" class="backdrop" hidden tabindex="-1"></a>
</header>
<main style="width:100%; margin-top: 4px; margin-bottom: 4px;">
<form th:action="@{/parametrosfecha}" method="get">
    <div style="display:flex; flex-flow:row wrap; justify-content:space-evenly">
        <div style="margin-bottom: 4px">
            <input type="text" name="fecha1" id="fechadesde" class="fecha"  min='2021-01-01' max='2022-12-31' required>
        </div>
        <div style="margin-bottom: 4px">
            <input type="text" name="fecha2" id="fechahasta" class="fecha"  min='2021-01-01' max='2022-12-31' required>
        </div>
        <div style="margin-bottom: 4px">
        <select id="idcultivo" name="idcultivo">
            <option value="0" selected="selected">Seleccione cultivo</option>
            <option  th:each="cul : ${cultivos}" th:value="${cul.id}" th:text="${cul.nombre}"></option>
        </select>
        </div>
        <div style="margin-bottom: 4px">
            <button type="submit" style="background-color:#1ebd88; border-radius: 8px; padding-top: 3px; padding-bottom: 3px; border: none; padding-right: 4px; padding-left:4px;" id="btnreporte"><span class="fas fa-file-download"></span> Generar reporte</button>
        </div>
    </div>
</form>
</div>
<div th:if="${parametros!=null and !parametros.isEmpty()}">
    <table id="mitabla" class="listadocultivo display cell-border compact stripe" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Humedad ambiente (%)</th>
            <th>Humedad suelo (%)</th>
            <th>Temperatura ambiente (ºC)</th>
            <th>Temperatura suelo (ºC)</th>
            <th>Potencial hidrogénico (PH)</th>
            <th>Conductividad eléctrica (us/cm)</th>
            <th>Nitrogeno (mg/kg,mg/L)</th>
            <th>Potasio (mg/kg,mg/L)</th>
            <th>Fosforo (mg/kg,mg/L)</th>
            <th>Radiación solar (UV)</th>
            <th>Dióxido de carbono (PPM)</th>
            <th>Fecha-hora</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="parametro: ${parametros}">
            <td align="center" valign="center" th:text="${parametro.id}">#</td>
            <td align="center" valign="center" th:text="${parametro.ha}">HA</td>
            <td align="center" valign="center" th:text="${parametro.hs}">HS</td>
            <td align="center" valign="center" th:text="${parametro.ta}">TA</td>
            <td align="center" valign="center" th:text="${parametro.ts}">TS</td>
            <td align="center" valign="center" th:text="${parametro.ph}">PH</td>
            <td align="center" valign="center" th:text="${parametro.ce}">EC</td>
            <td align="center" valign="center" th:text="${parametro.nitrogeno}">Nitrogeno</td>
            <td align="center" valign="center" th:text="${parametro.potasio}">Potasio</td>
            <td align="center" valign="center" th:text="${parametro.fosforo}">Fosforo</td>
            <td align="center" valign="center" th:text="${parametro.uv}">UV</td>
            <td align="center" valign="center" th:text="${parametro.co2}">CO2</td>
            <td align="center" valign="center" th:text="${parametro.fechahora}">FECHA - HORA</td>
        </tr>
        </tbody>
    </table>
</div>
    <div th:if="${parametros.isEmpty()}" style="color: black;
    width: 100%; height: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    ">
        <div>
            <img src="../img/empty.png" alt="sin datos"/>
            <h4>La lista de parametros esta vacía</h4>
        </div>
    </div>
</main>
<footer th:replace="layout/plantilla2 :: footer"></footer>
<script>
    window.onload = function (){
        let fechadesde=document.getElementById('fechadesde');
        let fechahasta=document.getElementById('fechahasta');
        fechadesde.setAttribute("placeholder","Ingrese fecha desde:");
        fechahasta.setAttribute("placeholder","Ingrese fecha hasta:");
    };

    fechadesde.addEventListener('click', function (){
        document.getElementById('fechadesde').setAttribute("type","date");
    });

    fechahasta.addEventListener('click', function (){
        document.getElementById('fechahasta').setAttribute("type","date");
    });

    document.getElementById("btnreporte").addEventListener("click", function() {
        Swal.fire({
            title: 'Descargar reporte?',
            text: "No será posible revertir los cambios!",
            icon: 'success',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Descargar!'
        }).then((result) => {
            if (result.isConfirmed) {
                ExportToExcel('xlsx');
            }
        })
    });


    function FechaHora() {
        var currentdate = new Date();
        var fecha_hora =
            "Reporte parametros -" +
            currentdate.getFullYear() +
            +(currentdate.getMonth() + 1) +
            +currentdate.getDate() +
            "-" +
            currentdate.getHours() +
            +currentdate.getMinutes() +
            +currentdate.getSeconds();
        return fecha_hora;
    }

    function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('mitabla');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "mitabla" });
        return dl
            ? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
            : XLSX.writeFile(wb, fn || FechaHora()+"." + (type || "xlsx"));
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript" src="../js/fonawesome.js"></script>
<script type="text/javascript" src="../js/fecha.js"></script>
<script src="../js/tabla.js"></script>
<script src="../js/aviso.js"></script>
</body>
</html>